{% layout 'layout' %}

{% block styles %}
  <link rel="stylesheet" href="/assets/css/home.css" />
{% endblock %}

{% block content %}
  <div class="container">
    <h1>Главная</h1>
    <lit-app></lit-app>
  </div>
{% endblock %}

{% block scripts %}
  <script src="/assets/js/home.js"></script>
  <script type="module" src="/assets/js/my-element.js"></script>
{% endblock %}
