{% layout 'layout' %}

{% block styles %}
  <link rel="stylesheet" href="/assets/css/home.css" />
{% endblock %}

{% block content %}
  <div class="home">
    <h1 class="text-orange-400">Main</h1>
  </div>

  {% include 'card', name: 'LEx!!!' %}
{% endblock %}

{% block scripts %}
  <script src="/assets/js/home.js"></script>
{% endblock %}
