{% layout 'layout' %}

{% block content %}
  <div class="home">
    <h1 class="text-blue-400">Main</h1>
  </div>

  {% include 'card.html', name: 'LEx!!!' %}
{% endblock %}

{% include 'card.html', name: 'LEx!!!' %}
