@import url('tailwindcss.css');
@import url('utils/variables.pcss');
@import url('components/header.pcss');
@import url('components/menu.pcss');
@import url('components/breadcrumbs.pcss');
@import url('components/filter.pcss');
@import url('components/link.pcss');
@import url('components/card.pcss');

@layer utilities {
  .change {
    color: transparent;
  }
}

html,
body {
  @apply m-0 p-0;
}
