@import 'tailwindcss';
@import './utils/variables.css';
@import './components/header.css';
@import './components/footer.css';
@import './components/cards/index.css';

@theme {
  --color-primary: #201f65;
  --color-pink: #ff3f90;
  --color-cyan: #00afd6;
  --color-yellow: #ffb803;
  --color-green: #61c365;
  --color-light-blue: #d6e9fb;
  --color-gray: #cbcadd;
  --color-black: #333;
  --color-gray-second: #ccd7e8;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  @apply m-0 h-full p-0;
}

body {
  background: linear-gradient(
    90deg,
    hsl(154deg 100% 76% / 100%) 0%,
    hsl(234deg 100% 83% / 100%) 50%,
    hsl(288deg 100% 81% / 100%) 100%
  );

  @apply flex flex-col;
}

main {
  flex: 1 0 auto;
}

.container {
  margin: 0 auto;
}
