<footer class="footer">
  <div class="footer__wrapper container">
    <a class="footer__logo" href="/index.html"></a>
    <div class="footer__about">
      <div class="address">
        658825, Алтайский край,<br />г. Славгород,<br />ул. Крупской, 13а
      </div>
      <div class="email">
        <div>По вопросам сотрудничества</div>
        <div>
          e-mail:
          <a class="link link--border-solid" href="mailto:direct@moreyarovoe.ru"
            >direct@moreyarovoe.ru</a
          >
        </div>
      </div>
      <div class="email">
        <div>По вакансиям</div>
        <div>
          e-mail:
          <a class="link link--border-solid" href="mailto:staff@moreyarovoe.ru"
            >staff@moreyarovoe.ru</a
          >
        </div>
      </div>
    </div>
    <div class="footer__menu">
      <ul>
        <li><a class="link" href="#">ОТДЫХ</a></li>
        <li><a class="link" href="#">ПРОЖИВАНИЕ</a></li>
        <li><a class="link" href="#">еда</a></li>
        <li><a class="link" href="#">О НАС</a></li>
      </ul>
      <ul>
        <li><a class="link" href="#">ОТЗЫВЫ</a></li>
        <li><a class="link" href="#">КАРТА КУРОРТА</a></li>
        <li><a class="link" href="#">ВАКАНСИИ</a></li>
        <li><a class="link" href="#">КОНТАКТЫ</a></li>
      </ul>
    </div>
    <div class="footer__contacts">
      <div class="hotline">Горячая линия</div>
      <a class="link phone" href="tel:+78007004930">+7-800-700-49-30</a><br /><a
        class="link"
        href="#"
        >ИНФОРМАЦИЯ О COVID-19</a
      ><br /><a class="link" href="#">ДОКУМЕНТЫ</a>
      <div class="social">
        <a class="social__link" href="#"
          ><svg
            width="40"
            height="40"
            viewbox="0 0 40 40"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M20 0C8.95431 0 0 8.95103 0 19.9927C0 31.0343 8.95431 39.9854 20 39.9854C31.0457 39.9854 40 31.0343 40 19.9927C40 8.95103 31.0457 0 20 0ZM21.6291 26.3038C21.4319 26.5116 21.0469 26.5536 21.0469 26.5536H19.7718C19.7718 26.5536 16.9588 26.7195 14.4807 24.1885C11.7782 21.4272 9.39193 15.9486 9.39193 15.9486C9.39193 15.9486 9.2542 15.5892 9.40341 15.4162C9.5714 15.2207 10.0295 15.2084 10.0295 15.2084L13.0773 15.1889C13.0773 15.1889 13.3642 15.235 13.5698 15.3835C13.7398 15.5063 13.8348 15.7346 13.8348 15.7346C13.8348 15.7346 14.3273 16.9571 14.9794 18.0629C16.2534 20.2221 16.8461 20.6941 17.2781 20.4627C17.9083 20.1259 17.7194 17.4107 17.7194 17.4107C17.7194 17.4107 17.7309 16.4257 17.4022 15.9865C17.1476 15.6466 16.6677 15.5473 16.4559 15.5196C16.2837 15.4971 16.5654 15.106 16.9306 14.9309C17.4795 14.6678 18.4477 14.6524 19.5924 14.6637C20.4845 14.6729 20.7412 14.7272 21.0897 14.8101C21.8985 15.0016 21.8732 15.6154 21.8188 16.94C21.8025 17.3362 21.7835 17.796 21.7835 18.327C21.7835 18.4463 21.78 18.5735 21.7764 18.7044C21.7574 19.3831 21.7358 20.1602 22.1915 20.4494C22.4252 20.5969 22.996 20.4709 24.4244 18.0915C25.1016 16.9632 25.6087 15.6374 25.6087 15.6374C25.6087 15.6374 25.7204 15.4009 25.8925 15.2995C26.0689 15.1961 26.3068 15.2278 26.3068 15.2278L29.5142 15.2084C29.5142 15.2084 30.4783 15.0947 30.6338 15.5227C30.7976 15.9701 30.2738 17.0165 28.9633 18.7304C27.7202 20.3566 27.1152 20.9554 27.1707 21.4849C27.2113 21.8719 27.6045 22.2218 28.3592 22.9087C29.9345 24.3439 30.3567 25.099 30.4582 25.2804C30.4666 25.2954 30.4728 25.3065 30.4773 25.3137C31.1837 26.4635 29.6937 26.5536 29.6937 26.5536L26.8441 26.5925C26.8441 26.5925 26.2327 26.7113 25.4272 26.1686C25.0052 25.8846 24.5929 25.4208 24.2001 24.9789C23.6004 24.3042 23.0463 23.6809 22.5734 23.8281C21.7794 24.0759 21.8034 25.754 21.8034 25.754C21.8034 25.754 21.8096 26.1133 21.6291 26.3038Z"
              fill="white"
            ></path></svg></a
        ><a class="social__link" href="#"
          ><svg
            width="40"
            height="40"
            viewbox="0 0 40 40"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M23.3945 19.7014L17.118 16.5533V23.1746L17.4159 23.0268L23.7416 19.875L23.3945 19.7014Z"
              fill="white"
            ></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M40 19.9927C40 31.0343 31.0457 39.9854 20 39.9854C8.9543 39.9854 0 31.0343 0 19.9927C0 8.95103 8.9543 0 20 0C31.0457 0 40 8.95103 40 19.9927ZM28.3121 14.1295C28.186 14.0159 28.0488 13.9143 27.9025 13.8283C27.6056 13.6528 27.2712 13.5383 26.9163 13.4995C25.7658 13.3711 24.6046 13.3064 23.4397 13.2741C22.2822 13.2418 21.1197 13.2418 19.9599 13.2427C18.8002 13.2418 17.6379 13.2418 16.4802 13.2741C15.3151 13.3064 14.1537 13.3711 13.0023 13.4995C12.4735 13.5577 11.9897 13.784 11.6078 14.1295C11.2284 14.4722 10.9495 14.9331 10.8275 15.4633C10.6629 16.1727 10.5797 16.9136 10.5376 17.6599C10.5269 17.8493 10.5188 18.0387 10.5128 18.2271C10.4949 18.7813 10.4943 19.3291 10.4943 19.8649C10.4943 20.1826 10.4943 20.505 10.4979 20.8301C10.5024 21.2384 10.5126 21.6523 10.5355 22.0689C10.5767 22.8134 10.6589 23.5542 10.8236 24.2645C10.9463 24.7948 11.2252 25.2557 11.6046 25.5993C11.8669 25.8358 12.1771 26.0168 12.5173 26.1258C12.6721 26.1748 12.833 26.2099 12.9984 26.2284C14.1499 26.3568 15.3113 26.4214 16.4763 26.4538C17.0502 26.4695 17.6252 26.4778 18.2005 26.4815C18.7858 26.4861 19.3713 26.4861 19.9562 26.4852C21.1166 26.4861 22.2789 26.4861 23.4363 26.4538C23.9872 26.4381 24.5372 26.4159 25.0858 26.3826C25.6972 26.3457 26.3068 26.2958 26.9137 26.2284C27.4424 26.1702 27.9256 25.9439 28.3075 25.5993C28.6871 25.2557 28.9664 24.7948 29.0898 24.2645C29.2539 23.5542 29.3361 22.8134 29.3773 22.0689C29.3966 21.7197 29.4068 21.3687 29.4122 21.0186C29.4177 20.6659 29.4183 20.3147 29.4189 19.9685C29.4189 19.9339 29.419 19.8994 29.419 19.8649V19.8171C29.4182 18.3828 29.4174 16.8635 29.0939 15.4633C28.9711 14.9331 28.6919 14.4722 28.3121 14.1295Z"
              fill="white"
            ></path></svg></a
        ><a class="social__link" href="#"
          ><svg
            width="40"
            height="40"
            viewbox="0 0 40 40"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M0 19.9927C0 8.95103 8.95431 0 20 0C31.0457 0 40 8.95103 40 19.9927C40 31.0343 31.0457 39.9854 20 39.9854C8.95431 39.9854 0 31.0343 0 19.9927ZM19.9861 20.314C22.9354 20.314 25.3328 18.0002 25.3328 15.1558C25.3328 12.3105 22.9354 9.99609 19.9861 9.99609C17.0376 9.99609 14.6395 12.3105 14.6395 15.1558C14.6395 18.0002 17.0376 20.314 19.9861 20.314ZM25.268 23.2843C24.3012 23.8702 23.2516 24.2857 22.1633 24.5249L25.1522 27.4093C25.7645 27.9989 25.7645 28.9564 25.1522 29.5466C24.5405 30.1368 23.5491 30.1368 22.9381 29.5466L19.9995 26.7123L17.0633 29.5466C16.7572 29.8414 16.356 29.9889 15.9549 29.9889C15.5543 29.9889 15.1538 29.8414 14.8477 29.5466C14.236 28.9564 14.236 27.9995 14.847 27.4093L17.8362 24.5249C16.7479 24.2857 15.6983 23.8696 14.7315 23.2843C13.9999 22.8392 13.7801 21.9067 14.2411 21.2001C14.7008 20.4926 15.6676 20.2796 16.4005 20.7247C18.5893 22.0533 21.409 22.0536 23.599 20.7247C24.332 20.2796 25.2984 20.4926 25.7591 21.2001C26.22 21.9061 25.9996 22.8392 25.268 23.2843Z"
              fill="white"
            ></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M19.9862 13.0195C21.207 13.0195 22.2 13.9774 22.2 15.1554C22.2 16.3325 21.207 17.291 19.9862 17.291C18.7664 17.291 17.7725 16.3325 17.7725 15.1554C17.7725 13.9774 18.7664 13.0195 19.9862 13.0195Z"
              fill="white"
            ></path></svg
        ></a>
      </div>
    </div>
    <div class="footer__copyright">
      <div>© 2021 Фонд поддержки малого и среднего бизнеса (ФПМиСБ)</div>
      <a
        class="link atwinta"
        href="https://atwinta.ru"
        rel="noreferrer noopener"
        target="_blank"
      >
        <div class="copyright-atwinta">
          Создание сайта —&nbsp;<svg
            width="72"
            height="16"
            viewBox="0 0 72 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0)">
              <path
                d="M14.5144 11.8101L14.5119 4.6103H11.5703V2.40234H20.1106V4.6103H17.1689L17.1663 11.8101H14.5144Z"
                fill="white"
              ></path>
              <path
                d="M56.0773 11.8101L56.0747 4.6103H53.1328V2.40234H61.6731V4.6103H58.7317L58.7287 11.8101H56.0773Z"
                fill="white"
              ></path>
              <path
                d="M21.5352 11.8179V2.40234H26.8389C28.7942 2.40234 29.8504 3.43851 29.8504 4.81255C29.8504 5.75861 29.4684 6.41183 28.7042 6.8173C29.8954 7.22277 30.5021 8.03366 30.5021 9.22752C30.5021 10.8043 29.2661 11.8179 27.0862 11.8179H21.5352ZM24.1921 6.14628H25.985C26.8389 6.14628 27.2434 5.82617 27.2434 5.19546C27.2434 4.56477 26.8389 4.22689 25.985 4.22689H24.1921V6.14628ZM24.1921 9.89559H26.3895C27.3109 9.89559 27.7604 9.53518 27.7604 8.83691C27.7604 8.13864 27.3109 7.77823 26.3895 7.77823H24.1921V9.89559Z"
                fill="white"
              ></path>
              <path
                d="M31.7812 11.8179V2.40239H34.4382V7.94359L38.6357 2.40239L41.1755 2.40234V11.8101L38.5185 11.8102L38.5234 6.27675L34.2758 11.8179H31.7812Z"
                fill="white"
              ></path>
              <path
                d="M42.9805 11.8101V2.40234H45.6375L45.6324 5.95428H49.528V2.40234H52.1797L52.1848 11.8101H49.528V8.16223H45.6324L45.6375 11.8101H42.9805Z"
                fill="white"
              ></path>
              <path
                d="M72.0008 9.59077V11.528C71.6635 11.7983 71.1917 11.9334 70.5623 11.9334C69.4838 11.9334 68.787 11.528 68.4275 10.717C67.5957 11.573 66.5172 12.0009 65.191 12.0009C63.1685 12.0009 61.7305 10.7621 61.7305 8.84744C61.7305 7.85632 62.09 7.06793 62.8316 6.54984C63.5733 6.03175 64.4272 5.76145 65.4382 5.76145C66.4946 5.76145 67.4588 5.94168 68.2226 6.3471V6.0543C68.2226 4.86046 67.3263 4.2748 65.6633 4.2748C64.6744 4.2748 63.6906 4.5451 62.814 5.06318V2.83318C63.7802 2.3151 64.9438 2.08984 66.3148 2.08984C67.641 2.08984 68.7422 2.4052 69.5513 3.08096C70.3826 3.73419 70.7849 4.6352 70.7849 5.80651V8.98256C70.7849 9.45559 71.0119 9.70339 71.4389 9.70339C71.6635 9.70339 71.8659 9.65833 72.0008 9.59077ZM68.1999 8.0365C67.6607 7.67614 66.9668 7.4959 66.2025 7.4959C65.0787 7.4959 64.3597 7.94643 64.3597 8.71227C64.3597 9.54571 65.0566 9.92863 66.0454 9.92863C66.9668 9.92863 67.7281 9.61327 68.2226 8.96006V8.0365H68.1999Z"
                fill="white"
              ></path>
              <path
                d="M0.0898438 11.8077L5.1048 0H7.41082L12.4257 11.8077H9.64961L8.48543 9.11979H3.9854L2.82121 11.8077H0.0898438ZM4.7466 7.10384H7.72424L6.24658 3.23254L4.7466 7.10384Z"
                fill="white"
              ></path>
              <path
                d="M41.3398 14.2852H31.8633V15.9994H41.3398V14.2852Z"
                fill="#FF21A2"
              ></path>
            </g>
            <defs>
              <clipPath id="clip0">
                <rect width="72" height="16" fill="white"></rect>
              </clipPath>
            </defs>
          </svg>
        </div>
      </a>
    </div>
  </div>
</footer>
