<!-- include-start name="footer" path="_includes" -->
<nav>
  <a href="/">Главная</a>
  <a href="/catalog">Каталог</a>
  <a href="/about">О компании</a>
  <a href="/contacts">Контакты</a>
</nav>
<!-- include-end -->